<div class="row h-100">
  <div class="col-1"></div>
  <div class="col-5 d-flex align-items-center justify-content-center">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Resgates</h5>
        <p>Use este login para permitir apenas permissão de resgates ao bot</p>
        <a href="/auth/redemption" class="btn btn-primary">Login</a>
      </div>
    </div>
  </div>
  <div class="col-5 d-flex align-items-center justify-content-center">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Geral</h5>
        <p>Use este login para recursos gerais do bot (primariamente testes do brejela)</p>
        <a href="/auth/general" class="btn btn-primary">Login</a>
      </div>
    </div>
  </div>
</div>